<tr class="edit" id="edit_user_<%= h(user.id.to_s) %>" style="display: none; width: 100%;">  

    <td><a href="#" onclick="jQuery('#edit_user_<%= user.id %>').hide();">[Cancel]</a></td>
    <td class="cell-shorttext">[<span id="reset_pw_user_<%= user.id.to_s %>"><%= link_to "Reset Password", :url => { :controller => "admin", :action => "reset_password", :id => user }, :method => :post, :remote => true %></span>]</td>
    <td class="cell-longtext">[<span id="ban_user_<%= user.id.to_s %>"><%= link_to "Ban User", :url => { :controller => "admin", :action => "ban_user", :id => user }, :confirm => "Are you sure?", :method => :post, :remote => true unless user.banned %><%= link_to "Un-Ban User", :url => { :controller => "admin", :action => "unban_user", :id => user }, :confirm => "Are you sure?", :method => :post, :remote => true  unless !user.banned %></span>]</td>

</tr>