<table style="width: 750px;">
	<tr>
		<td><img src ="/images/chuckslistlogo.png"></td>
		<td style="text-align: right;">
	        <%= form_tag searches_path, :method => :get do %>
	            <%= text_field_tag :search, params[:search] %>
	            <%= submit_tag "Search" %>
	        <% end %>						
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to 'ChucksList', "/" %> | <%= link_to 'Post a New Ad', :controller => 'ads', :action => 'post' %> | <%= link_to 'RSS', rss_url(@slug) %><% if is_admin %> | <a href="/admin">Admin</a><% end %>
			<% if logged_in? %> | <a href="/logout"><%= current_user.email %>[Logout]</a><% end %>
	    </td>
		<td></td>
	</tr>
</table>