<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Chuckslist</title>
	<%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag 'chuckslist' %>
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="<%= rss_url(@slug) %>"/>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "lowpro" %>
	<%= csrf_meta_tag %>
	
</head>

<body>
	<!-- the id on the containing div determines the page width. -->
	<!-- #doc = 750px; #doc2 = 950px; #doc3 = 100%; #doc4 = 974px -->
	<div id="doc">					
		<div id="hd">
			<%= render :partial => '/layouts/header' %>
		</div>		
		<div id="bd">
			<%= render :partial => '/layouts/body' %>
		</div>
		<div id="ft">
			<%= render :partial => '/layouts/footer' %>
		</div>
	</div>
</body>
</html>

